body {
    padding-top: 60px;
}

footer {
    text-align: center;
}

.social-btns {
    padding-bottom: 9px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.event-date {
    color: #fff;
    font-size: 20px;
}