@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
    <h1>WebCamps Rio de Janeiro!</h1>
    
    <p>O WebCamps é um evento presencial destinado as pessoas que desejam começar a desenvolver aplicações Web. Não importa se voce não sabe nada sobre desenvolvimento Web, ou se voce já é um programador experiente. Durante o WebCamps - Rio de Janeiro, voce irá conhecer as mais novas tecnologias e ferramentas de desenvolvimento Web fornecidas pela Microsoft.</p>
    <p>Todo o conteúdo apresentado durante o evento é <strong>gratuito</strong>.</p>

    <a class="btn btn-primary btn-large" href="#">Inscreva-se</a>

    <div class="social-btns">
        @Html.Partial("SocialButtons")
    </div>
</div>